@font-face {
	font-family: 'Industry Test Book';
	src: url(../../assets/fonts/Industry-Book.woff2) format('woff2'),
	url(../../assets/fonts/Industry-Book.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Industry Test Book';
	src: url(../../assets/fonts/Industry-BookItalic.woff2) format('woff2'),
	url(../../assets/fonts/Industry-BookItalic.woff) format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}