html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Layout awal */

#rifleViewer {
  width: 100%;
  height: 100vh;
  background-color: #ccc;
  float: left;
  transition: width 0.3s ease;
}

#partMenu {
  width: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #444;
  color: white;
  float: left;
  transition: width 0.3s ease;
}

/* Saat partMenu aktif (muncul) */

#partMenu.active {
  width: 700px;
}

#rifleViewer.shrinked {
  width: calc(100% - 700px);
}

#sketchfabViewer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#sketchfabViewer iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

